<!DOCTYPE html>
<html lang="en">
    <head>    
        <meta charset="UTF-8">    
        <title>登录</title>
    </head>
    <body>    
        <form method="post" action="login">        
            {% csrf_token %}        
            <label>账号：</label>        
            <input name="username" type="text">        
            <div></div>        
            <label>密码：</label>        
            <input name="password" type="password">        
            <input type="submit" value="登录" />    
        </form>    
        <div>        
            <!-- <a type="submit" href="{% url 'denglu:register' %}">注册</a>    -->
        </div>
    </body>
