<!DOCTYPE html>
<html lang="en">
    <head>    
        <meta charset="UTF-8">    
        <title>注册</title>
    </head>
    <body>    
        <form method="post" action="register">       
            {% csrf_token %}  {# 防止csrf（跨站请求伪造） #}     
            <label>账号：</label>        
            <input name="username"  type="text">        
            <div></div>        
            <label>密码：</label>        
            <input name="password" type="password">        
            <input type="submit" value="注册" />    
        </form>
    </body>
</html>
